<!DOCTYPE html>
<html  lang="en">

<head>
    <meta charset="utf-8">
    <title>BotUI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/botui/build/botui.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/botui/build/botui-theme-default.css" />

</head>

<body>

<h1 id ="head">ChatRobot</h1>
<div class="botui-app-container" id="my-botui-app">
    <bot-ui></bot-ui>
</div>
<script src="https://cdn.jsdelivr.net/vue/latest/vue.min.js"></script>
<script src="https://unpkg.com/botui/build/botui.min.js"></script>
<script type="module" src="/static/js/script.js"></script>
<!--type="module"-->
<script type="module" src="/static/js/webSockect.js"></script>



</body>
</html>
